<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

 <head profile="http://purl.org/uF/2008/03/ http://purl.org/uF/hAtom/0.1/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="generator" content="<TMPL_VAR generator ESCAPE="HTML">" />
  <meta name="author" content="phpMyAdmin contributors" />
  <meta name="copyright" content="Copyright &copy; 2003 - 2017 phpMyAdmin contributors" />
  <title><TMPL_VAR name></title>
  <TMPL_IF feedtype>
  <link rel="alternate" href="<TMPL_VAR feed ESCAPE="HTML">" title="<TMPL_VAR channel_title_plain ESCAPE="HTML">" type="application/<TMPL_VAR feedtype>+xml" />
  </TMPL_IF>
  <link rel="stylesheet" type="text/css" href="https://www.phpmyadmin.net/static/bootstrap/css/bootstrap.css" />
  <link rel="stylesheet" type="text/css" href="https://www.phpmyadmin.net/static/bootstrap/css/bootstrap-theme.css" />
  <link rel="stylesheet" type="text/css" href="https://www.phpmyadmin.net/static/css/style.css" />
  <link rel="stylesheet" type="text/css" href="https://www.phpmyadmin.net/static/colorbox/colorbox.css" />
  <link rel="stylesheet" type="text/css" href="https://www.phpmyadmin.net/static/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://www.phpmyadmin.net/static/css/font-awesome.min.css">

  <link rel="shortcut icon" href="https://www.phpmyadmin.net/static/favicon.ico" type="image/x-icon" />
  <link rel="icon" href="https://www.phpmyadmin.net/static/favicon.ico" type="image/x-icon" />
  <meta name="verify-v1" content="3AM2eNj0zQ1Ao/N2eGE02S45V3p5KQxAyMIxdUJhtEQ=" />
  <meta name="robots" content="index, follow" />
  <meta property="og:site_name" content="Planet phpMyAdmin" />
  <meta property="og:image" content="https://www.phpmyadmin.net/static/images/logo-og.png" />
  <meta property="og:type" content="website" />
 </head>
 <body>
 <header>
<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">

   
   <li><a href="https://www.phpmyadmin.net/">Home</a></li>
   
   <li ><a href="https://www.phpmyadmin.net/news/">News</a></li>
   
   <li ><a href="https://www.phpmyadmin.net/security/">Security</a></li>
   
   <li ><a href="https://www.phpmyadmin.net/support/">Support</a></li>
   
   <li ><a href="https://www.phpmyadmin.net/docs/">Docs</a></li>
   
   <li ><a href="https://www.phpmyadmin.net/try/">Try</a></li>
   
   <li ><a href="https://www.phpmyadmin.net/contribute/">Contribute</a></li>
   
   <li ><a href="https://www.phpmyadmin.net/sponsors/">Sponsors</a></li>
   
   <li ><a href="https://www.phpmyadmin.net/themes/">Themes</a></li>
   
   <li ><a href="https://www.phpmyadmin.net/downloads/">Download</a></li>
   
      </ul>
       <ul class="nav navbar-nav navbar-right">
         <li><a href="https://github.com/phpmyadmin/phpmyadmin" title="phpMyAdmin is developed on GitHub"><i class="fa fa-github"></i> GitHub</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
  </nav>

  <div class="container">
  <div class="row">
  <div class="col-sm-9">
    <h1><a href="https://www.phpmyadmin.net/" rel="home"><span id="logo">phpMyAdmin</span></a> <span class="hidden-sm hidden-xs">Planet phpMyAdmin</span></h1>
  </div>
  <div class="col-sm-3 boxes">

    <a class="btn btn-success" href="https://www.phpmyadmin.net/downloads/"><i class="fa fa-download"></i> Download</a>
    
    <a class="btn btn-success" href="https://demo.phpmyadmin.net/master-config/" title="Go to demo server"><i class="fa fa-search"></i> Try demo</a>

    <a class="btn btn-success" href="https://www.phpmyadmin.net/donate/" rel="payment"><i class="fa fa-credit-card"></i> Donate</a>

    
    </div>
  </div>
  </div>
  </header>

  <content>
<div class="container">

<div class="row">
<div class="col-sm-9">

<TMPL_VAR admin>

<TMPL_LOOP Items>
<TMPL_IF new_date>
<TMPL_UNLESS __FIRST__>
### End <div class="channelgroup">
</div>
### End <div class="daygroup">
</div>
</TMPL_UNLESS>
<div class="daygroup">
<h2><TMPL_VAR new_date></h2>
</TMPL_IF>

<TMPL_IF new_channel>
<TMPL_UNLESS new_date>
### End <div class="channelgroup">
</div>
</TMPL_UNLESS>
<div class="channelgroup">

### Planet provides template variables for *all* configuration options for
### the channel (and defaults), even if it doesn't know about them.  We
### exploit this here to add hackergotchi faces to our channels.  Planet
### doesn't know about the "face", "facewidth" and "faceheight" configuration
### variables, but makes them available to us anyway.

<h3><a href="<TMPL_VAR channel_link ESCAPE="HTML">" title="<TMPL_VAR channel_title_plain ESCAPE="HTML">"><TMPL_VAR channel_name></a></h3>
<TMPL_IF channel_face>
<img class="face" src="images/<TMPL_VAR channel_face ESCAPE="HTML">" width="<TMPL_VAR channel_facewidth ESCAPE="HTML">" height="<TMPL_VAR channel_faceheight ESCAPE="HTML">" alt="">
</TMPL_IF>
</TMPL_IF>


<div class="entrygroup" id="<TMPL_VAR id>"<TMPL_IF channel_language> lang="<TMPL_VAR channel_language>"</TMPL_IF>>
<TMPL_IF title>
<h4<TMPL_IF title_language> lang="<TMPL_VAR title_language>"</TMPL_IF>><a href="<TMPL_VAR link ESCAPE="HTML">"><TMPL_VAR title></a></h4>
</TMPL_IF>
<div class="entry">
<div class="content"<TMPL_IF content_language> lang="<TMPL_VAR content_language>"</TMPL_IF>>
<TMPL_VAR content>
</div>

### Planet also makes available all of the information from the feed
### that it can.  Use the 'planet-cache' tool on the cache file for
### a particular feed to find out what additional keys it supports.
### Comment extra fields are 'author' and 'category' which we
### demonstrate below.

<p class="date">
<a href="<TMPL_VAR link ESCAPE="HTML">"><TMPL_IF author>by <TMPL_VAR author ESCAPE="HTML"> at </TMPL_IF><TMPL_VAR date><TMPL_IF category> under <TMPL_VAR category></TMPL_IF></a>
</p>
</div>
</div>

<TMPL_IF __LAST__>
### End <div class="channelgroup">
</div>
### End <div class="daygroup">
</div>
</TMPL_IF>
</TMPL_LOOP>
### End if id=body
</div>


<div class="col-sm-3">

<h3>Subscriptions</h3>
<p>
Planet phpMyAdmin aggregates blogs of following phpMyAdmin contributors.
</p>
<ul>
<TMPL_LOOP Channels>
<li>
<a href="<TMPL_VAR url ESCAPE="HTML">" title="subscribe"><img src="images/feed-icon-10x10.png" alt="(feed)"></a> <a <TMPL_IF link>href="<TMPL_VAR link ESCAPE="HTML">" </TMPL_IF><TMPL_IF message>class="message" title="<TMPL_VAR message ESCAPE="HTML">"</TMPL_IF><TMPL_UNLESS message>title="<TMPL_VAR title_plain ESCAPE="HTML">"</TMPL_UNLESS>><TMPL_VAR name></a>
</li>
</TMPL_LOOP>
</ul>

<h3>Last updated</h3>
<p>
<TMPL_VAR date><br />
<em>All times are UTC.</em><br />
</p>
<h3>Feeds</h3>
<p>
		<a href="rss10.xml"><img class="button" src="images/rss10.png" width="80" height="15" alt="[RSS 1.0 Feed]"></a>
		<a href="rss20.xml"><img class="button" src="images/rss20.png" width="80" height="15" alt="[RSS 2.0 Feed]"></a>
		<a href="atom.xml"><img class="button" src="images/atom.png" width="80" height="15" alt="[Atom Feed]"></a>
		<a href="foafroll.xml"><img class="button" src="images/foaf.png" width="80" height="15" alt="[FOAF Subscriptions]"></a>

		<a href="opml.xml"><img class="button" src="images/opml.png" width="80" height="15" alt="[OPML Subscriptions]"></a>
		<a href="http://www.intertwingly.net/code/venus/"><img class="button" src="images/venus.png" width="80" height="15" alt="[Venus]"></a>
</p>

<h3>Planetarium</h3>
<p>
<ul>
<li><a href="http://www.planet-php.net/">Planet PHP</a></li>
<li><a href="https://planet.mysql.com/">Planet MySQL</a></li>
<li><a href="http://www.planetapache.org/">Planet Apache</a></li>
<li><a href="http://planet.debian.net/">Planet Debian</a></li>
<li><a href="https://planet.freedesktop.org/">Planet freedesktop.org</a></li>
<li><a href="http://planet.gnome.org/">Planet GNOME</a></li>
<li><a href="http://www.planetsuse.org/">Planet SUSE</a></li>
<li><a href="http://fedora.linux.duke.edu/fedorapeople/">Fedora People</a></li>
<li><a href="http://www.planetplanet.org/">more...</a></li>
</ul>
</p>
</div>
</div>
</div>

 <footer>
<ul class="footer">
    <li>Copyright &copy; 2003 - 2017 <span class="vcard"><a class="url org fn" href="https://www.phpmyadmin.net/team/">phpMyAdmin contributors</a><a href="mailto:developers@phpmyadmin.net" class="email"></a></span></li>
    <li><a href="https://www.phpmyadmin.net/license/" rel="license">License</a></li>
    <li><a href="https://www.phpmyadmin.net/donate/" rel="payment" title="Support phpMyAdmin by donating money!">Donate</a></li>
    <li><a href="https://www.phpmyadmin.net/about-website/" title="Information about website">About</a></li>
    <li class="logo"><a href="https://google.com/+phpmyadmin"><i class="fa fa-google-plus-square"></i></a></li>
    <li class="logo"><a href="https://twitter.com/phpmya"><i class="fa fa-twitter-square"></i></a></li>
    <li class="logo"><a href="https://www.facebook.com/pages/PhpMyAdmin/157021164334486"><i class="fa fa-facebook-official"></i></a></li>
  </ul>
  </footer>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-2718724-15', 'auto');
  ga('send', 'pageview');

</script>
 </body>
</html>

